# Core dependencies
tensorflow==2.10.0
keras==2.10.0
numpy==1.23.5
pandas==1.5.2
matplotlib==3.6.2
opencv-python==4.6.0.66
scikit-learn==1.2.0
pillow==9.3.0

# For Grad-CAM visualization
tf-keras-vis==0.8.1

# For web application
flask==2.2.2
flask-bootstrap==3.3.7.1
flask-wtf==1.0.1
wtforms==3.0.1

# For report generation
transformers==4.25.1